*{
	margin: 0%;
	padding: 0%;
	box-sizing: border-box;
	font-family: "Lucida Console", Monaco, monospace;
	background-size: cover;
}

body{
	max-height: 100%;
	display: grid;
	grid-template-columns: 300px 1fr;
}

header{
	background: #000000;
	max-height: 100%;
	grid-column: 1/2;
	display: grid;
	grid-template-rows: 1fr 1fr 50px;
}

.logo{
	grid-row: 1/2;
	align-items: center;
}

.logo img{
	height: 1fr;
	width: 100%;
	transition: transform .1s;
	object-fit: cover;
}

.logo img:hover{
	transform: scale(1.1);
}

nav{
	grid-row: 2/3;
	color: white;
}

header a:link, header a:visited{
	color: #ffffff;
	background-color: transparent;
	text-decoration: none;
}

header a:hover, header a:active{
	color: #ff5761;
	background-color: transparent;
	text-decoration: none;
}

footer{
	grid-row: 3/4;
	color: #ffffff;
	position: relative;
	bottom: 0;
}

section{
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 300px 1fr;
  justify-content: center;
  align-items: center;
  max-height: 100%;
}

.hero{
	grid-row: 1/2;
	max-height: 100%;
	width: 100%;
	align-items: center;
}

sup{
	font-size: 20px;
}

h2{
	color: #000000;
	font-size: 90px;
	text-decoration: none;
	text-align: center;
	padding: 10px;
}

h3{
	color: #ffffff;
	font-size: 70px;
}

h4{
	color: #000000;
	font-size: 40px;
	line-height: 65px;
}

h5{
	color: #000000;
	font-size: 35px;
}


h3 a:link, h3 a:visited{
	background-color: #ffffff;
	color: black;
	border: 2px solid black;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

h3 a:hover, h3 a:active{
	background-color: #ff5761;
	color: #ffffff;
	border: 2px solid #ff5761;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.links{
	grid-row: 2/3;
	position: center;
}

.links:hover span{
	display: block;
	z-index: 2;
}

.headline{
	position: relative;
	text-align: center;
	padding:6px;
	width:100%;
	line-height: 150%;
}

.php{
	color: #000000;
	max-height: 100%;
}

.php table, th, td{
	height: 50px;
	font-size: 30px;
	text-align: left;
	border-collapse: collapse;
	border: 1px solid black;
}

.php th{
	color: #ff5761;
}

.php a:link, .php a:visited {
	color: #000000;
	background-color: transparent;
	text-decoration: none;
}

.php a:hover, .php a:active {
	color: #ff5761;
	background-color: transparent;
	text-decoration: none;
}

.info{
	height: 100%;
	width: 100%;
	grid-row: 1/3;
	text-align: center;
	font-size: 40px;
	color: #000000;
	line-height: 100px;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.info .name{
	grid-row: 1/2;
}

.info .batch{
	grid-row: 2/3;
}

.info .roll{
	grid-row: 3/4;
}

.info .mail{
	grid-row: 2/3;
}

