*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

.content{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 1fr 50px;
}

.header{
    padding: 10px;
    grid-column: 2/3;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-rows: 0%;
}

.logo{
    grid-column: 1/2;
    justify-self: start;
}

.nav{
    grid-column: 2/3;
}

.menu{
    grid-column: 3/4;
    justify-self: end;
    vertical-align: bottom;
}

.main{
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    grid-gap: 5px;
}

.headline{
    height: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
}

h1{
    color: #2ebcff;
    font-size: 80px;
    text-shadow: -2px 2px #fff;
}

.text{
    grid-column: 1/2;
    grid-row: 2/3;
}
.text p{
    color: #fff;
    font-size: 35px;
}

.media{
    grid-column: 2/3;
    grid-row: 1/3;
    height: 100%;
    width: 100%;
}

.media img{
    height: 70vh;
    max-width: 100%;
    object-fit: cover;
}

.footer{
    grid-row: 3/4;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    text-align: center;
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #66faf9, #66fabb);
    z-index: -1;
}

